/* src/components/Navbar.css */
.admin-container{
  height: 100vh;
  width: 100vw;
}
.navbar {
  background: linear-gradient(135deg, #ff5c8d, #ffab40); 
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo h2 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 30px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  color: #222;
  background-color: white;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.navbar-links a.active {
  font-weight: bold;
  color: #ffab40;
  border-bottom: 2px solid #ffab40;
}


.center-div {
  display: flex;
  justify-content: center;  
  align-items: center;       
  text-align: center;
  height: 93%;
  width: 100%;
  background-image: url("../../Utils/admin.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.center-div h2 {
  font-size: 90px; 
  font-weight: bold; 
  color: white;
  /* background: linear-gradient(135deg, #ff5c8d, #ffab40); */
  opacity: 0.9;
  margin-bottom: 45rem;
  font-family: "Roboto" sans-serif ;
  background: linear-gradient(135deg, #ff5c8d, #ffab40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
