.home-container {
  height: auto;
  width: 98.9vw;
  /* padding-bottom: 5rem; */
  display: flex;
  flex-direction: column;
  .nav-content {
    /* background: linear-gradient(135deg, #ff5c8d, #ffab40); */
    background: #003b95;
    padding: 2rem 5rem;
    .navbar {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 5rem 1rem 1rem ;
      border-bottom: 1px solid #32a852;
      /* box-shadow: 5px 1px; */
      box-shadow: 2px 4px 10px gray;
      border-left: 0;
      .logo {
        img {
          height: 4rem;
          width: 5rem;
        }
      }
      .auth-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        div {
          width: 6rem;
          button {
            font-size: 1.3rem;
          }
        }
      }
    }
    /* } */
    .heading-h2 {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
      h2 {
        font-size: 3rem;
        margin: 1rem;
        color: #bbbfbc;
      }
      h3 {
        font-size: 2rem;
        margin: 1rem;
        color: #bbbfbc;
      }
    }
  }

  .hotel-card-display{
      padding-left: 5.5rem;
      /* background-image: url("../../lib/hotel-back.jpg"); */
      background-size: cover;
      padding-bottom: 5rem;
      padding-right: 2rem;
      /* border: 1px solid gray; */
    .heading-h3{
        font-size: 2rem;
    }
    .container-data{
        /* display: flex;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 2rem;
    }
  }

  .footer{
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #bbbfbc;
    .footer-container{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h4{
            margin-bottom: 0;
        }
    }
  }

}
